<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Sisow>
			<version>5.5.2</version>
		</Sisow>
	</modules>
	<global>
		<models>
			<sisow>
				<class>Sisow_Model</class>
			</sisow>
			<sisow_base>
				<class>Sisow_Model_Base</class>
			</sisow_base>
			<sales>
				<rewrite>
					<order_invoice_total_tax>Sisow_Model_Paymentfee_Invoice_Tax</order_invoice_total_tax>
				</rewrite>
			</sales>
		</models>
		<helpers>
			<sisow>
				<class>Sisow_Helper</class>
			</sisow>  
		</helpers>
		<blocks>
            <sisow>
                <class>Sisow_Block</class>
            </sisow>
			<sales>
				<rewrite>
					<order_totals>Sisow_Block_Paymentfee_Order_Totals_Fee</order_totals>
					<order_invoice_totals>Sisow_Block_Paymentfee_Invoice_Totals_Fee</order_invoice_totals>
					<order_creditmemo_totals>Sisow_Block_Paymentfee_Creditmemo_Totals</order_creditmemo_totals>
				</rewrite>
			</sales>
			<adminhtml>
				<rewrite>
					<sales_order_totals>Sisow_Block_Paymentfee_Adminhtml_Sales_Order_Totals</sales_order_totals>
					<sales_order_invoice_totals>Sisow_Block_Paymentfee_Adminhtml_Sales_Invoice_Totals_Fee</sales_order_invoice_totals>
					<sales_order_creditmemo_totals>Sisow_Block_Paymentfee_Adminhtml_Sales_Creditmemo_Totals</sales_order_creditmemo_totals>
				</rewrite>
			</adminhtml>
			<checkout>
                <rewrite>
                    <onepage_payment_methods>Sisow_Block_Checkout_Onepage_Payment_Methods</onepage_payment_methods>
                </rewrite>
            </checkout>

        </blocks>
		<pdf>
			<totals>
				<rowtotal translate="title">
					<title>Payment Fee</title>
					<model>Sisow_Model_Paymentfee_Invoice_Pdf_Total</model>
					<display_zero>0</display_zero>
					<sort_order>200</sort_order>
				</rowtotal>
			</totals>
		</pdf>
		<resources>
            <sisow_setup>
                <setup>
                    <module>Sisow</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sisow_setup>
            <sisow_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sisow_write>
            <sisow_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sisow_read>
        </resources>

		<events>
			<checkout_submit_all_after>
				<observers>
                    <sisow>
                        <type>singleton</type>
                        <class>sisow/observer_sendebill</class>
                        <method>sendEbill</method>
                    </sisow>
                </observers>
			</checkout_submit_all_after>
			<sales_order_invoice_save_after>
				<observers>
                    <sisow>
                        <type>singleton</type>
                        <class>sisow/observer_sendebill</class>
                        <method>sendEbillInvoice</method>
                    </sisow>
                </observers>
			</sales_order_invoice_save_after>
			<sales_order_save_after>
				<observers>
					<sales_order_save_after_handler>
						<type>singleton</type>
						<class>sisow/observer_invoice</class>
						<method>makeInvoice</method>
						<args></args>
					</sales_order_save_after_handler>
				</observers>
			</sales_order_save_after>
		</events>
		<payment>
            <groups>
                <sisow>Sisow</sisow>
            </groups>
        </payment>
		<sales>
			<quote>
				<totals>
					<sisow_fee>
						<class>sisow/total_address_quote</class>
						<after>subtotal,discount,shipping</after>
						<before>tax,grand_total</before>
					</sisow_fee>
					<sisow_fee_tax>
                        <class>sisow/total_address_quoteTax</class>
                        <before>grand_total</before>
                        <after>subtotal,discount,shipping,tax</after>
					</sisow_fee_tax>
				</totals>
			</quote>
			<order_invoice>
				<totals>
					<sisow_fee>
						<class>sisow/paymentfee_invoice_total</class>
						<after>subtotal,discount,shipping</after>
						<before>tax,grand_total</before>
					</sisow_fee>
				</totals>
			</order_invoice>
			<order_creditmemo>
				<totals>
					<sisow_fee>
						<class>sisow/paymentfee_creditmemo_total</class>
						<after>subtotal,discount,shipping</after>
						<before>tax,grand_total</before>
					</sisow_fee>
				</totals>
			</order_creditmemo>
		</sales>
		<fieldsets>
			<sales_convert_quote_address>
				<base_sisow_fee>
					<to_order>*</to_order>
				</base_sisow_fee>
				<sisow_fee>
					<to_order>*</to_order>
				</sisow_fee>
				<base_sisow_fee_incl_tax>
					<to_order>*</to_order>
				</base_sisow_fee_incl_tax>
				<sisow_fee_incl_tax>
					<to_order>*</to_order>
				</sisow_fee_incl_tax>
				<sisow_fee_tax>
					<to_order>*</to_order>
				</sisow_fee_tax>
				<base_sisow_fee_tax>
					<to_order>*</to_order>
				</base_sisow_fee_tax>
			</sales_convert_quote_address>
			<sales_convert_order>
                <sisow_fee>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </sisow_fee>
                <base_sisow_fee>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </base_sisow_fee>
                <sisow_fee_tax>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </sisow_fee_tax>
                <base_sisow_fee_tax>
                    <to_quote_address_shipping>*</to_quote_address_shipping>
                </base_sisow_fee_tax>
			</sales_convert_order>
		</fieldsets>
	</global>
	<frontend>
		<events>
			<sales_model_service_quote_submit_after>
				<observers>
					<sisow_observer>
						<type>singleton</type>
						<class>sisow/observer_submit</class>
						<method>sales_model_service_quote_submit_after</method>
					</sisow_observer>
				</observers>
			</sales_model_service_quote_submit_after>
		</events>	
        <secure_url>
            <sisow_processing>/sisow</sisow_processing>
        </secure_url>
        <routers>
            <sisow>
                <use>standard</use>
                <args>
                    <module>Sisow</module>
                    <frontName>sisow</frontName>
                </args>
            </sisow>
        </routers>
		<layout>
            <updates>
				<sisow>
					<file>sisow.xml</file>
				</sisow>
            </updates>
        </layout>
		<translate>
            <modules>
                <Sisow>
                    <files>
                        <default>Sisow.csv</default>
                    </files>
                </Sisow>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
            <modules>
                <Sisow>
                    <files>
                        <default>Sisow.csv</default>
                    </files>
                </Sisow>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sisow translate="title" module="sisow">
                                            <title>Sisow Settings</title>
                                        </sisow>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
            <updates>
				<sisow>
					<file>sisow.xml</file>
				</sisow>
            </updates>
        </layout>
	</adminhtml>
	<default>
		<payment>
			<settings>
				<sisow_urlsuccess>checkout/onepage/success</sisow_urlsuccess>
				<sisow_urlfailed>checkout/cart</sisow_urlfailed>
				<cancelorder>yes</cancelorder>
			</settings>
			<sisow_ideal>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Ideal</model>
				<title>Sisow iDEAL</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>NL</specificcountry>
			</sisow_ideal>
			<sisow_idealqr>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Idealqr</model>
				<title>Sisow iDEAL QR</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>NL</specificcountry>
			</sisow_idealqr>
			<sisow_bunq>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Bunq</model>
				<title>Sisow bunq</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>NL</specificcountry>
			</sisow_bunq>
			<sisow_mistercash>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Mistercash</model>
				<title>Sisow Bancontact</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>BE</specificcountry>
			</sisow_mistercash>
			<sisow_belfius>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Belfius</model>
				<title>Sisow Belfius</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>BE</specificcountry>
			</sisow_belfius>
			<sisow_cbc>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Cbc</model>
				<title>Sisow CBC</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>BE</specificcountry>
			</sisow_cbc>
			<sisow_kbc>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Kbc</model>
				<title>Sisow KBC</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>BE</specificcountry>
			</sisow_kbc>
			<sisow_homepay>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Homepay</model>
				<title>Sisow ING Home'Pay</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>BE</specificcountry>
			</sisow_homepay>
			<sisow_giropay>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Giropay</model>
				<title>Sisow Giropay</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>DE</specificcountry>
			</sisow_giropay>
			<sisow_sofort>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Sofort</model>
				<title>Sisow SofortBanking</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>AT,BE,FR,DE,IT,NL,PL,ES,CH</specificcountry>
			</sisow_sofort>
			<sisow_eps>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Eps</model>
				<title>Sisow Eps</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>AT</specificcountry>
			</sisow_eps>
			<sisow_visa>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Visa</model>
				<title>Sisow Visa</title>
				<testmode>0</testmode>
				<allowspecific>0</allowspecific>
			</sisow_visa>
			<sisow_mastercard>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Mastercard</model>
				<title>Sisow MasterCard</title>
				<testmode>0</testmode>
				<allowspecific>0</allowspecific>
			</sisow_mastercard>
			<sisow_maestro>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Maestro</model>
				<title>Sisow Maestro</title>
				<testmode>0</testmode>
				<allowspecific>0</allowspecific>
			</sisow_maestro>
			<sisow_vpay>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Vpay</model>
				<title>Sisow V PAY</title>
				<testmode>0</testmode>
				<allowspecific>0</allowspecific>
			</sisow_vpay>
			<sisow_overboeking>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Overboeking</model>
				<title>Sisow OverBoeking</title>
				<testmode>0</testmode>
				<allowspecific>0</allowspecific>
			</sisow_overboeking>
			<sisow_paypalec>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Paypalec</model>
				<title>Sisow PayPal</title>
				<testmode>0</testmode>
				<allowspecific>0</allowspecific>
			</sisow_paypalec>
			<sisow_klarna>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Klarna</model>
				<title>Sisow Klarna Achteraf Betalen</title>
				<testmode>0</testmode>
				<sendklarnainvoice>0</sendklarnainvoice>
				<allowspecific>0</allowspecific>
			</sisow_klarna>	
			<sisow_afterpay>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Afterpay</model>
				<title>Afterpay</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>BE,NL</specificcountry>
			</sisow_afterpay>
			<sisow_billink>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Billink</model>
				<title>Billink - Achteraf Betalen</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>NL</specificcountry>
			</sisow_billink>
			<sisow_capayable>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Capayable</model>
				<title>IN3 - betalen in 3 termijnen</title>
				<testmode>0</testmode>
			</sisow_capayable>
			<sisow_spraypay>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Spraypay</model>
				<title>Spraypay</title>
				<testmode>0</testmode>
				<sendklarnainvoice>0</sendklarnainvoice>
			</sisow_spraypay>
			<sisow_focum>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Focum</model>
				<title>Achteraf Betalen</title>
				<testmode>0</testmode>
				<sendklarnainvoice>0</sendklarnainvoice>
				<allowspecific>1</allowspecific>
				<specificcountry>NL</specificcountry>
			</sisow_focum>
			<sisow_vvv>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_VvvGiftcard</model>
				<title>Sisow VVV Giftcard</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>NL</specificcountry>
			</sisow_vvv>
			<sisow_webshop>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_WebshopGiftcard</model>
				<title>Sisow Webshop Giftcard</title>
				<testmode>0</testmode>
				<allowspecific>1</allowspecific>
				<specificcountry>NL</specificcountry>
			</sisow_webshop>
			<sisow_ebill>
				<group>sisow</group>
				<active>0</active>
				<model>sisow/methods_Ebill</model>
				<title>Sisow Ebill</title>
				<testmode>0</testmode>
				<allowspecific>0</allowspecific>
			</sisow_ebill>
		 </payment>
	</default>
</config>